<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198540384353-injiftgvo02l8ast117ris4jtlucoscm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198540384353-injiftgvo02l8ast117ris4jtlucoscm</string>
	<key>API_KEY</key>
	<string>AIzaSyAeMpGKDJhMo4_XwzYn2BW9g-cCsy3rLPs</string>
	<key>GCM_SENDER_ID</key>
	<string>198540384353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivam.flutterBaseMobxPluginExample</string>
	<key>PROJECT_ID</key>
	<string>flutterapps-a739b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapps-a739b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198540384353:ios:df838ccaf154e5d63c7220</string>
	<key>DATABASE_URL</key>
	<string>https://flutterapps-a739b.firebaseio.com</string>
</dict>
</plist>